<div class="auth-content">
    <!-- <img src=""> -->
    <div class="auth-card" [class.shrink]="sent">
        <img src="../../../../assets/imgs/header-iamge1.png">
        <div class="auth-form">
            <div *ngIf="!sent">
                <h3> Forgot your password? </h3>
                <input class="base-input" [(ngModel)]="recoverData.email" [formControl]="email" required type="email"
                    [class.input-error]="email.invalid && email.touched " placeholder="ENTER YOUR EMAIL">
                <br *ngIf="email.invalid && email.touched">
                <mat-error *ngIf="email.invalid && email.touched ">{{getErrorMessage()}}</mat-error>
                <br *ngIf="email.invalid && email.touched">
                <p class="footer-comment"> We send you an email so you can change your
                    password </p>
                <br><br>

                <button mat-stroked-button class="auth-button button-primary" (click)="_doRecover()"
                    [disabled]="recoverData.email == '' || email.invalid"> SEND
                </button>
                <p class="footer-comment"> I have not received any mail. <span (click)="_doRecover()"> Send again
                    </span> </p>
            </div>
            <div *ngIf="sent">
                <h3> Check your email </h3>
                <p class="footer-comment"> Go to your email and follow the instruccions to recover your password </p>

                <p class="footer-comment"> I have not received any mail. <span (click)="_continue()"> Send again </span>
                </p>
            </div>
        </div>
    </div>
</div>