<div class="footer">  
    <!-- <button mat-stroked-button color="primary" (click)="_goRegister()">Register</button> -->
    <div class="vertical-shape"></div>
    <mat-grid-list cols = "7" rowHeight = "60px">
        <mat-grid-tile 
        [colspan] = "3"
        [rowspan] = "1">
            <button mat-stroked-button class="footer-button">EXPLORE FILTERS LIBRARY</button>    
        </mat-grid-tile>
        <mat-grid-tile 
        [colspan] = "2"
        [rowspan] = "1">
            <p class="footer-text"> Patent 8965654 </p>
        </mat-grid-tile>
        <mat-grid-tile
        class="col-contact" 
        [colspan] = "1"
        [rowspan] = "1">
            <p class="footer-contact">Contact</p>
        </mat-grid-tile>
        <mat-grid-tile 
        class="contact-container"
        [colspan] = "1"
        [rowspan] = "1">
            <p class="footer-contact">name@email.com</p>
        </mat-grid-tile>
    </mat-grid-list>
</div>
