<div class="auth-content">
    <div class="auth-card">
        <img src="../../../../assets/imgs/header-iamge1.png">
        <div class="auth-form" *ngIf="!confirming"> 
            <h3> {{ previous_page == '/login' ? 'Your account is not confirmed yet' : 'Your accont has been created' }} </h3>
            <h5>  {{ previous_page == '/login' ? 'You have a confirmation email in ' + user_email : 'We sent a confirmation link to ' + user_email  }}  </h5>
            <p> Follow the email instructions to confirm your account </p>

            <p class="footer-comment">
                {{ previous_page == '/login' ? "Don't you have this email??" : 'Having trouble receiving the email??' }} 
                <span (click)="_sendEmail()"> Send again </span> 
            </p>
        </div>
    </div>
</div>