<div class="auth-content">
        <!-- <img src=""> -->
        <div class="auth-card" [class.shrink]="confirmed">
            <img src="../../../../assets/imgs/header-iamge1.png">
            <div class="auth-form" *ngIf="!confirmed">
                <h3> New password </h3>
                <div class="input-password">
                    <input class="base-input" 
                        required
                        [formControl]="password"
                        [(ngModel)]="newData.password" 
                        [type]="hide ? 'password' : 'text'" placeholder="PASSWORD">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
                <br>
                <div class="input-password">
                    <input class="base-input" 
                    required
                        [formControl]="confirm_password"
                        [(ngModel)]="newData.confirm_password" 
                        [type]="hide_confirm ? 'password' : 'text'" placeholder="CONFIRM PASSWORD">
                    <button mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_confirm">
                        <mat-icon>{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </div>
                <div class="divider" *ngIf="!((newData.password != newData.confirm_password) && (confirm_password.dirty))"></div>
                <div *ngIf="(newData.password != newData.confirm_password) && (confirm_password.dirty)">
                    <mat-error>{{getMissMatchPasswordErrorMessage()}}</mat-error>
                    <br>
                </div>
                <button 
                    mat-stroked-button 
                    class="auth-button button-primary" 
                    (click)="_confimrNewPassword()"
                    [disabled]="password == '' ||  confirm_password=='' || (newData.password != newData.confirm_password)"> CONFIRM CHANGE 
                </button>
            </div>
            <div class="auth-form" *ngIf="confirmed">
                <h3> New password created correctly </h3>
                <button 
                    mat-stroked-button 
                    class="auth-button button-primary" 
                    (click)="_continue()"> CONTINUE 
                </button>
                <br>
            </div>
        </div>
    </div>