
.chart-container{
    width: 60%;
    margin-left: 20%;
    //height: 70%;
    .my-chart{
        height: auto !important;
        width: 90% !important;
        margin-left: 5%;
    }
}

#chart{
    
}

.full-chart{
    width: 100% !important;
    margin-left: 0px !important;
}