<br><br><br><br>
<!-- <mat-grid-list [cols]='breakpoint' [rowHeight]="row_height" style="width: 90%; margin-left: 5%" [gutterSize]="'10px'">
    <mat-grid-tile *ngFor="let l of list" [colspan]="1" [rowspan]="1">
        <mat-card class="example-card">
            <img mat-card-image src="https://fa-statics.s3.amazonaws.com/model_filter/1/Screenshot_from_2020-02-03_15-34-28.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIATJTM6VEWXV5FAC4W%2F20200206%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200206T182654Z&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=f8f91b28be032ebd8078a6a5c25914430d5f5e09b782160aaf465d4f12f75166" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-card-subtitle> Name of filter in use </mat-card-subtitle>
              <p> 
                Some comment about the case.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button class="color-primary">ACTION 1</button>
              <button mat-button class="color-primary">ACTION 2</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<br> -->
<h2 class="text-center"> HOME IS BEING UNDER CONSTRUCTION </h2>