.modal-header{
    background-color: #2c00a0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    p{
        padding-left: 20px;
        color: white;
    }
    button{
        position: absolute;
        right: 5px;
        top: 2px;
        font-size: 12px;
    }
}

input{
    font-size: 12px !important;
}

.modal-content{
    margin-top: 60px;
    button{
        width: 80%;
        margin-left: 10%;
    }
}

.input-container{
    width: 95%;
    height: 100%;
    input{
        padding-left: 15px !important;
        height: 35px !important;
        width: 90%;
    }
    button{
        height: 90%;
    }
}

.input-label{
    color:rgba(0,0,0,0.54);
    font-size: 10px !important;
}

.position{
    border: 1px solid #666;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    margin-top: -10%;
}

.input-error{
    height: 33px !important;
}